<!doctype html><html><head><title>VCF/400</title><link rel="stylesheet" href="/vcf400.css"></head><body>
<h1>VINTAGE COMPUTER FESTIVAL</h1><pre>VCF/400 MAIN MENU</pre>
<p><a href="/learn400?owner=LRN400STR">1 LEARN/400</a></p><p><a href="/vote?profile=GERTIE">11 Vote</a></p>
<p><a href="/guestbook/add?profile=GERTIE">12 Sign Guestbook</a></p><p><a href="/guestbook/read?profile=GERTIE">13 Read Guestbook</a></p>
<p><a href="/admin">80 Admin tools</a> <a href="/credits">Credits</a></p></body></html>
